
.vs/BB2Stats/v15/.suo
.vs/BB2Stats/v15/Server/sqlite3/db.lock
.vs/BB2Stats/v15/Server/sqlite3/storage.ide
.vs/BB2Stats/v15/Server/sqlite3/storage.ide-shm
.vs/BB2Stats/v15/Server/sqlite3/storage.ide-wal
.vs/BB2Stats/v17/.suo
.vs/BB2Stats/project-colors.json
BB2Stats/bin/Debug/System.Threading.Tasks.Extensions.xml
BB2Stats/bin/Debug/System.Threading.Tasks.Extensions.dll
BB2Stats/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
BB2Stats/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
BB2Stats/bin/Debug/Newtonsoft.Json.xml
BB2Stats/bin/Debug/Newtonsoft.Json.dll
BB2Stats/bin/Debug/MQTTnet.Extensions.ManagedClient.dll
BB2Stats/bin/Debug/MQTTnet.dll
BB2Stats/bin/Debug/BB2Stats.pdb
BB2Stats/bin/Debug/BB2Stats.exe.config
BB2Stats/bin/Debug/BB2Stats.exe
BB2Stats/bin/Debug/BB2Stats.pdb
BB2Stats/bin/Debug/BB2Stats.exe.config
BB2Stats/bin/Debug/BB2Stats.exe
BB2Stats/bin/Debug/BB2Stats.pdb
BB2Stats/bin/Debug/BB2Stats.exe.config
BB2Stats/bin/Debug/BB2Stats.exe
BB2Stats/obj/Debug/BB2Stats.BBStatsMain.resources
BB2Stats/obj/Debug/BB2Stats.ConfigForm.resources
BB2Stats/obj/Debug/BB2Stats.csproj.AssemblyReference.cache
BB2Stats/obj/Debug/BB2Stats.csproj.CopyComplete
BB2Stats/obj/Debug/BB2Stats.csproj.CoreCompileInputs.cache
BB2Stats/obj/Debug/BB2Stats.csproj.FileListAbsolute.txt
BB2Stats/obj/Debug/BB2Stats.csproj.GenerateResource.cache
BB2Stats/obj/Debug/BB2Stats.csproj.SuggestedBindingRedirects.cache
BB2Stats/obj/Debug/BB2Stats.csprojAssemblyReference.cache
BB2Stats/bin/BB2Stats.zip
BB2Stats/.history/schemas/rulesEventFullState_20211118225225.xsd
BB2Stats/.history/schemas/rulesEventFullState_20211118225150.xsd
BB2Stats/.history/schemas/rulesEventFullState_20211118225148.xsd
BB2Stats/.history/schemas/rulesEventFullState_20211118225141.xsd
BB2Stats/.history/schemas/rulesEventFullState_20211118225117.xsd
BB2Stats/.history/schemas/rulesEventFullState_20211118223647.xsd
BB2Stats/.history/schemas/rulesEventFullState_20211118223526.xsd
BB2Stats/.history/schemas/rulesEventFullState_20211118210403.xsd
BB2Stats/bin/Debug/BB2Stats.exe
BB2Stats/bin/Debug/BB2Stats.exe.config
BB2Stats/bin/Debug/BB2Stats.pdb
BB2Stats/bin/Debug/DotNetZip.dll
BB2Stats/bin/Debug/DotNetZip.pdb
BB2Stats/bin/Debug/DotNetZip.xml
BB2Stats/bin/Debug/PcapDotNet.Base.dll
BB2Stats/bin/Debug/PcapDotNet.Base.pdb
BB2Stats/bin/Debug/PcapDotNet.Base.xml
BB2Stats/bin/Debug/PcapDotNet.Core.dll
BB2Stats/bin/Debug/PcapDotNet.Core.Extensions.dll
BB2Stats/bin/Debug/PcapDotNet.Core.Extensions.pdb
BB2Stats/bin/Debug/PcapDotNet.Core.Extensions.xml
BB2Stats/bin/Debug/PcapDotNet.Core.pdb
BB2Stats/bin/Debug/PcapDotNet.Core.xml
BB2Stats/bin/Debug/PcapDotNet.Packets.dll
BB2Stats/bin/Debug/PcapDotNet.Packets.pdb
BB2Stats/bin/Debug/PcapDotNet.Packets.xml
BB2Stats/bin/Debug/RulesEventBoardAction_0.xml
BB2Stats/bin/Debug/RulesEventBoardAction_1.xml
BB2Stats/bin/Debug/RulesEventBoardAction_10.xml
BB2Stats/bin/Debug/RulesEventBoardAction_12.xml
BB2Stats/bin/Debug/RulesEventBoardAction_13.xml
BB2Stats/bin/Debug/RulesEventBoardAction_14.xml
BB2Stats/bin/Debug/RulesEventBoardAction_15.xml
BB2Stats/bin/Debug/RulesEventBoardAction_16.xml
BB2Stats/bin/Debug/RulesEventBoardAction_17.xml
BB2Stats/bin/Debug/RulesEventBoardAction_2.xml
BB2Stats/bin/Debug/RulesEventBoardAction_20.xml
BB2Stats/bin/Debug/RulesEventBoardAction_21.xml
BB2Stats/bin/Debug/RulesEventBoardAction_22.xml
BB2Stats/bin/Debug/RulesEventBoardAction_24.xml
BB2Stats/bin/Debug/RulesEventBoardAction_27.xml
BB2Stats/bin/Debug/RulesEventBoardAction_28.xml
BB2Stats/bin/Debug/RulesEventBoardAction_3.xml
BB2Stats/bin/Debug/RulesEventBoardAction_31.xml
BB2Stats/bin/Debug/RulesEventBoardAction_32.xml
BB2Stats/bin/Debug/RulesEventBoardAction_35.xml
BB2Stats/bin/Debug/RulesEventBoardAction_36.xml
BB2Stats/bin/Debug/RulesEventBoardAction_37.xml
BB2Stats/bin/Debug/RulesEventBoardAction_4.xml
BB2Stats/bin/Debug/RulesEventBoardAction_40.xml
BB2Stats/bin/Debug/RulesEventBoardAction_43.xml
BB2Stats/bin/Debug/RulesEventBoardAction_44.xml
BB2Stats/bin/Debug/RulesEventBoardAction_45.xml
BB2Stats/bin/Debug/RulesEventBoardAction_48.xml
BB2Stats/bin/Debug/RulesEventBoardAction_5.xml
BB2Stats/bin/Debug/RulesEventBoardAction_51.xml
BB2Stats/bin/Debug/RulesEventBoardAction_52.xml
BB2Stats/bin/Debug/RulesEventBoardAction_53.xml
BB2Stats/bin/Debug/RulesEventBoardAction_56.xml
BB2Stats/bin/Debug/RulesEventBoardAction_57.xml
BB2Stats/bin/Debug/RulesEventBoardAction_58.xml
BB2Stats/bin/Debug/RulesEventBoardAction_59.xml
BB2Stats/bin/Debug/RulesEventBoardAction_6.xml
BB2Stats/bin/Debug/RulesEventBoardAction_62.xml
BB2Stats/bin/Debug/RulesEventBoardAction_63.xml
BB2Stats/bin/Debug/RulesEventBoardAction_64.xml
BB2Stats/bin/Debug/RulesEventBoardAction_65.xml
BB2Stats/bin/Debug/RulesEventBoardAction_66.xml
BB2Stats/bin/Debug/RulesEventBoardAction_67.xml
BB2Stats/bin/Debug/RulesEventBoardAction_7.xml
BB2Stats/bin/Debug/RulesEventBoardAction_70.xml
BB2Stats/bin/Debug/RulesEventBoardAction_71.xml
BB2Stats/bin/Debug/RulesEventBoardAction_74.xml
BB2Stats/bin/Debug/RulesEventBoardAction_77.xml
BB2Stats/bin/Debug/RulesEventBoardAction_78.xml
BB2Stats/bin/Debug/RulesEventBoardAction_8.xml
BB2Stats/bin/Debug/RulesEventBoardAction_81.xml
BB2Stats/bin/Debug/RulesEventBoardAction_82.xml
BB2Stats/bin/Debug/RulesEventBoardAction_9.xml
BB2Stats/bin/Debug/RulesEventCoachChoice_23.xml
BB2Stats/bin/Debug/RulesEventCoachChoice_26.xml
BB2Stats/bin/Debug/RulesEventCoachChoice_30.xml
BB2Stats/bin/Debug/RulesEventCoachChoice_39.xml
BB2Stats/bin/Debug/RulesEventCoachChoice_4.xml
BB2Stats/bin/Debug/RulesEventCoachChoice_42.xml
BB2Stats/bin/Debug/RulesEventCoachChoice_47.xml
BB2Stats/bin/Debug/RulesEventCoachChoice_50.xml
BB2Stats/bin/Debug/RulesEventCoachChoice_7.xml
BB2Stats/bin/Debug/RulesEventCoachChoice_73.xml
BB2Stats/bin/Debug/RulesEventCoachChoice_76.xml
BB2Stats/bin/Debug/RulesEventCoachChoice_80.xml
BB2Stats/bin/Debug/RulesEventEndTurn_13.xml
BB2Stats/bin/Debug/RulesEventForcedDices_11.xml
BB2Stats/bin/Debug/RulesEventForcedDices_12.xml
BB2Stats/bin/Debug/RulesEventForcedDices_19.xml
BB2Stats/bin/Debug/RulesEventForcedDices_22.xml
BB2Stats/bin/Debug/RulesEventForcedDices_24.xml
BB2Stats/bin/Debug/RulesEventForcedDices_25.xml
BB2Stats/bin/Debug/RulesEventForcedDices_29.xml
BB2Stats/bin/Debug/RulesEventForcedDices_3.xml
BB2Stats/bin/Debug/RulesEventForcedDices_34.xml
BB2Stats/bin/Debug/RulesEventForcedDices_38.xml
BB2Stats/bin/Debug/RulesEventForcedDices_4.xml
BB2Stats/bin/Debug/RulesEventForcedDices_41.xml
BB2Stats/bin/Debug/RulesEventForcedDices_46.xml
BB2Stats/bin/Debug/RulesEventForcedDices_49.xml
BB2Stats/bin/Debug/RulesEventForcedDices_55.xml
BB2Stats/bin/Debug/RulesEventForcedDices_6.xml
BB2Stats/bin/Debug/RulesEventForcedDices_61.xml
BB2Stats/bin/Debug/RulesEventForcedDices_69.xml
BB2Stats/bin/Debug/RulesEventForcedDices_72.xml
BB2Stats/bin/Debug/RulesEventForcedDices_75.xml
BB2Stats/bin/Debug/RulesEventForcedDices_79.xml
BB2Stats/bin/Debug/RulesEventForcedDices_84.xml
BB2Stats/bin/Debug/RulesEventWaitingRequest_10.xml
BB2Stats/bin/Debug/RulesEventWaitingRequest_11.xml
BB2Stats/bin/Debug/RulesEventWaitingRequest_14.xml
BB2Stats/bin/Debug/RulesEventWaitingRequest_18.xml
BB2Stats/bin/Debug/RulesEventWaitingRequest_23.xml
BB2Stats/bin/Debug/RulesEventWaitingRequest_33.xml
BB2Stats/bin/Debug/RulesEventWaitingRequest_54.xml
BB2Stats/bin/Debug/RulesEventWaitingRequest_60.xml
BB2Stats/bin/Debug/RulesEventWaitingRequest_68.xml
BB2Stats/bin/Debug/RulesEventWaitingRequest_83.xml
BB2Stats/obj/Debug/TempPE/Sniffer.schemas.RulesEventWaitingRequest1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/Sniffer.schemas.rulesEventFullState1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/Sniffer.schemas.RulesEventForcedDices1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/Sniffer.schemas.RulesEventEndTurn1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/Sniffer.schemas.RulesEventCoachChoice1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/Sniffer.schemas.RulesEventBoardAction1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/Sniffer.schemas.header1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/Sniffer.schemas.header.RulesEventBoardAction2.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/Sniffer.schemas.header.header1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/Sniffer.schemas.full_state.rulesEventFullState2.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/Sniffer.schemas.force_dice.RulesEventForcedDices2.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/Sniffer.schemas.end_turn.RulesEventEndTurn2.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/Sniffer.schemas.coach_choice.RulesEventCoachChoice2.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/schemas.RulesEventWaitingRequest1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/schemas.rulesEventFullState1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/schemas.RulesEventForcedDices1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/schemas.RulesEventEndTurn1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/schemas.RulesEventCoachChoice1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/schemas.RulesEventBoardAction1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/schemas.header1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/RulesEventWaitingRequest1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/rulesEventFullState1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/RulesEventForcedDices1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/RulesEventEndTurn1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/RulesEventCoachChoice1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/RulesEventBoardAction1.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
BB2Stats/obj/Debug/TempPE/header1.Designer.cs.dll
BB2Stats/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BB2Stats/obj/Debug/DesignTimeResolveAssemblyReferences.cache
BB2Stats/obj/Debug/BB2Stats.pdb
BB2Stats/obj/Debug/BB2Stats.exe
BB2Stats/obj/Debug/BB2Stats.csproj.GenerateResource.cache
BB2Stats/obj/Debug/BB2Stats.csproj.FileListAbsolute.txt
BB2Stats/obj/Debug/BB2Stats.csproj.CoreCompileInputs.cache
BB2Stats/obj/Debug/BB2Stats.BBStatsMain.resources
BB2Stats/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
BB2Stats/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BB2Stats/obj/Debug/DesignTimeResolveAssemblyReferences.cache
BB2Stats/obj/Debug/BB2Stats.pdb
BB2Stats/obj/Debug/BB2Stats.exe
BB2Stats/obj/Debug/BB2Stats.csproj.GenerateResource.cache
BB2Stats/obj/Debug/BB2Stats.csproj.FileListAbsolute.txt
BB2Stats/obj/Debug/BB2Stats.csproj.CoreCompileInputs.cache
BB2Stats/obj/Debug/BB2Stats.BBStatsMain.resources
BB2Stats/obj/Debug/BB2Stats.BBStatsMain.resources
BB2Stats/obj/Debug/BB2Stats.csproj.CoreCompileInputs.cache
BB2Stats/obj/Debug/BB2Stats.csproj.FileListAbsolute.txt
BB2Stats/obj/Debug/BB2Stats.csproj.GenerateResource.cache
BB2Stats/obj/Debug/BB2Stats.exe
BB2Stats/obj/Debug/BB2Stats.pdb
BB2Stats/obj/Debug/DesignTimeResolveAssemblyReferences.cache
BB2Stats/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BB2Stats/obj/Debug/TempPE/Sniffer.schemas.waiting_request.RulesEventWaitingRequest2.Designer.cs.dll
BB2Stats/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
packages/DotNetZip.1.16.0/.signature.p7s
packages/DotNetZip.1.16.0/DotNetZip.1.16.0.nupkg
packages/DotNetZip.1.16.0/lib/net40/DotNetZip.dll
packages/DotNetZip.1.16.0/lib/net40/DotNetZip.pdb
packages/DotNetZip.1.16.0/lib/net40/DotNetZip.xml
packages/DotNetZip.1.16.0/lib/netstandard2.0/DotNetZip.dll
packages/DotNetZip.1.16.0/lib/netstandard2.0/DotNetZip.pdb
packages/DotNetZip.1.16.0/lib/netstandard2.0/DotNetZip.xml
packages/Pcap.Net.x86.1.0.4.1/.signature.p7s
packages/Pcap.Net.x86.1.0.4.1/lib/net45/PcapDotNet.Base.dll
packages/Pcap.Net.x86.1.0.4.1/lib/net45/PcapDotNet.Base.pdb
packages/Pcap.Net.x86.1.0.4.1/lib/net45/PcapDotNet.Base.xml
packages/Pcap.Net.x86.1.0.4.1/lib/net45/PcapDotNet.Core.dll
packages/Pcap.Net.x86.1.0.4.1/lib/net45/PcapDotNet.Core.Extensions.dll
packages/Pcap.Net.x86.1.0.4.1/lib/net45/PcapDotNet.Core.Extensions.pdb
packages/Pcap.Net.x86.1.0.4.1/lib/net45/PcapDotNet.Core.Extensions.XML
packages/Pcap.Net.x86.1.0.4.1/lib/net45/PcapDotNet.Core.pdb
packages/Pcap.Net.x86.1.0.4.1/lib/net45/PcapDotNet.Core.xml
packages/Pcap.Net.x86.1.0.4.1/lib/net45/PcapDotNet.Packets.dll
packages/Pcap.Net.x86.1.0.4.1/lib/net45/PcapDotNet.Packets.pdb
packages/Pcap.Net.x86.1.0.4.1/lib/net45/PcapDotNet.Packets.xml
packages/Pcap.Net.x86.1.0.4.1/license.txt
packages/Pcap.Net.x86.1.0.4.1/Pcap.Net.x86.1.0.4.1.nupkg
BB2Stats/bin/Debug/BB2Stats.exe
BB2Stats/bin/Debug/BB2Stats.exe.config
BB2Stats/bin/Debug/BB2Stats.pdb
BB2Stats/obj/Debug/DesignTimeResolveAssemblyReferences.cache
BB2Stats/obj/Debug/BB2Stats.pdb
BB2Stats/obj/Debug/BB2Stats.exe
BB2Stats/obj/Debug/BB2Stats.csproj.GenerateResource.cache
BB2Stats/obj/Debug/BB2Stats.csproj.CoreCompileInputs.cache
BB2Stats/bin/Debug/BB2Stats.exe
BB2Stats/bin/Debug/BB2Stats.pdb
BB2Stats/obj/Debug/BB2Stats.csproj.CoreCompileInputs.cache
BB2Stats/obj/Debug/BB2Stats.csproj.GenerateResource.cache
BB2Stats/obj/Debug/BB2Stats.exe
BB2Stats/obj/Debug/BB2Stats.pdb
BB2Stats/obj/Debug/DesignTimeResolveAssemblyReferences.cache
BB2Stats/obj/Debug/BB2Stats.pdb
BB2Stats/obj/Debug/BB2Stats.exe
BB2Stats/obj/Debug/BB2Stats.csproj.GenerateResource.cache
BB2Stats/obj/Debug/BB2Stats.BBStatsMain.resources
BB2Stats/obj/Debug/BB2Stats.pdb
BB2Stats/obj/Debug/BB2Stats.exe
BB2Stats/bin/Debug/BB2Stats.pdb
BB2Stats/bin/Debug/BB2Stats.exe
