
.vs/BB2Stats/v15/.suo
.vs/BB2Stats/v15/Server/sqlite3/db.lock
.vs/BB2Stats/v15/Server/sqlite3/storage.ide
.vs/BB2Stats/v15/Server/sqlite3/storage.ide-shm
.vs/BB2Stats/v15/Server/sqlite3/storage.ide-wal
