
.vs/BB2Stats/v15/.suo
.vs/BB2Stats/v15/Server/sqlite3/db.lock
.vs/BB2Stats/v15/Server/sqlite3/storage.ide
.vs/BB2Stats/v15/Server/sqlite3/storage.ide-shm
.vs/BB2Stats/v15/Server/sqlite3/storage.ide-wal
.vs/BB2Stats/v17/.suo
.vs/BB2Stats/project-colors.json
BB2Stats/bin/Debug/System.Threading.Tasks.Extensions.xml
BB2Stats/bin/Debug/System.Threading.Tasks.Extensions.dll
BB2Stats/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
BB2Stats/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
BB2Stats/bin/Debug/Newtonsoft.Json.xml
BB2Stats/bin/Debug/Newtonsoft.Json.dll
BB2Stats/bin/Debug/MQTTnet.Extensions.ManagedClient.dll
BB2Stats/bin/Debug/MQTTnet.dll
BB2Stats/bin/Debug/BB2Stats.pdb
BB2Stats/bin/Debug/BB2Stats.exe.config
BB2Stats/bin/Debug/BB2Stats.exe
BB2Stats/bin/Debug/BB2Stats.pdb
BB2Stats/bin/Debug/BB2Stats.exe.config
BB2Stats/bin/Debug/BB2Stats.exe
BB2Stats/bin/Debug/BB2Stats.pdb
BB2Stats/bin/Debug/BB2Stats.exe.config
BB2Stats/bin/Debug/BB2Stats.exe
BB2Stats/obj/Debug/BB2Stats.BBStatsMain.resources
BB2Stats/obj/Debug/BB2Stats.ConfigForm.resources
BB2Stats/obj/Debug/BB2Stats.csproj.AssemblyReference.cache
BB2Stats/obj/Debug/BB2Stats.csproj.CopyComplete
BB2Stats/obj/Debug/BB2Stats.csproj.CoreCompileInputs.cache
BB2Stats/obj/Debug/BB2Stats.csproj.FileListAbsolute.txt
BB2Stats/obj/Debug/BB2Stats.csproj.GenerateResource.cache
BB2Stats/obj/Debug/BB2Stats.csproj.SuggestedBindingRedirects.cache
BB2Stats/obj/Debug/BB2Stats.csprojAssemblyReference.cache
